@{
  Layout = "_Layout";
}

<h1>Edit</h1>
<form action="/places/@Model.Id" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="@Model.Name">

  <label for="picture">Picture</label>
  <input type="text" name="picture" value="@Model.Picture">

  <label for="stayLength">stayLength</label>
  <input type="text" name="stayLength" value="@Model.StayLength">

  <label for="timeTravel">Time of year you traveled</label>
  <input type="text" name="timeTravel" value="@Model.TravelTime">
  
  <button type="submit" name="id" value="@Model.Id">Update</button>
</form>